.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  background-color: #b0e4ac;
}

#first .smashinglogo{
  background-image: url(../public/maia-logolar-04.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  height: 150px;
 }
